* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: #bfbfbf;
  font-family: "Raleway", sans-serif;
}

:-ms-input-placeholder {
  color: #bfbfbf;
  font-family: "Raleway", sans-serif;
}

::-ms-input-placeholder {
  color: #bfbfbf;
  font-family: "Raleway", sans-serif;
}

::placeholder {
  color: #bfbfbf;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 25px;
  margin-bottom: 90px;
}

.header__logo {
  width: 80px;
}

.header__list-item {
  margin-left: 25px;
  color: #070439;
  text-decoration: none;
}

.header__list-item:hover {
  color: #626293;
}

@media (min-width: 1000px) {
  .header {
    margin: 65px 80px;
  }
}

.section-info {
  margin-bottom: 100px;
  text-align: center;
}

.section-info__img {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.section-info__title {
  font-family: "Raleway", sans-serif;
  color: #070439;
  font-size: 1.5em;
  font-weight: 700;
  margin: 25px;
  line-height: 1.5;
}

.section-info__p {
  color: #070439;
  font-size: 0.9rem;
  margin: 0 30px;
}

.section-info__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 30px auto;
}

.section-info__form-input {
  border: 1px solid #070439;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.section-info__form-input:focus {
  outline: none;
}

.section-info__form-btn {
  background-color: #3065f8;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .section-info__title, .section-info__p {
    max-width: 500px;
    margin: 30px auto;
  }
  .section-info__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 515px;
  }
  .section-info__form-input {
    margin-right: 15px;
    margin-bottom: 0;
    width: 300px;
  }
  .section-info__form-btn {
    width: 200px;
  }
}

@media (min-width: 1000px) {
  .section-info {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section-info__title, .section-info__p {
    max-width: 500px;
    margin: 30px auto;
  }
  .section-info__form {
    margin: 30px 0;
  }
  .section-info__container {
    margin-left: 80px;
  }
}

picture img {
  width: 100%;
}

.section-motivation {
  background-color: #f8f8fe;
  padding-bottom: 90px;
}

.section-motivation__img {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.section-motivation__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #070439;
  font-size: 1em;
  font-weight: 700;
  margin: 25px;
}

.section-motivation__p {
  text-align: left;
  color: #070439;
  line-height: 1.6;
  margin: 0 30px;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

.section-motivation__link {
  width: 140px;
  margin: 0 auto;
  border-bottom: 1px solid #3c9f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.section-motivation__link-text {
  font-size: 0.8rem;
  color: #3c9f8f;
  text-decoration: none;
}

.section-motivation__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 20px 25px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
  width: 280px;
  margin: 45px auto 0;
}

.section-motivation__icon {
  width: 15px;
  height: 15px;
}

.section-motivation__card-p {
  font-size: 0.65rem;
  padding: 15px 0;
}

.section-motivation__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 0.55rem;
}

.section-motivation__user-info-name {
  font-size: 0.75rem;
  font-weight: bold;
}

.section-motivation__user-info-img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (min-width: 600px) {
  .section-motivation__title {
    font-size: 1.5em;
  }
  .section-motivation__p {
    max-width: 500px;
    margin: 0 auto 40px;
  }
  .section-motivation__card {
    padding: 25px 30px;
    width: 350px;
  }
  .section-motivation__card-p {
    font-size: 0.85rem;
    line-height: 1.9;
  }
}

.section-access {
  background-color: #585989;
  padding: 30px;
  color: white;
  text-align: center;
}

.section-access__title {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin-top: 20px;
}

.section-access__p {
  font-size: 0.9rem;
  margin: 20px 15px;
  line-height: 1.5;
}

.section-access__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  margin: 30px auto;
}

.section-access__form-input {
  border: none;
  border-radius: 3px;
  font-size: 0.6rem;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.section-access__form-input:focus {
  outline: none;
}

.section-access__form-btn {
  background-color: #3065f8;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

@media (min-width: 600px) {
  .section-access__p {
    max-width: 500px;
    margin: 20px auto;
  }
  .section-access__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 515px;
  }
  .section-access__form-input {
    margin-right: 15px;
    margin-bottom: 0;
    width: 300px;
  }
  .section-access__form-btn {
    width: 200px;
  }
}

.footer {
  background-color: #070439;
  padding: 0 30px;
  color: white;
}

.footer__logo {
  fill: white;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__phone {
  margin-bottom: 25px;
}

.footer__phone::before {
  content: url(../images/icon-phone.svg);
  margin-right: 20px;
}

.footer__email::before {
  content: url(../images/icon-email.svg);
  margin-right: 20px;
}

.footer__list {
  list-style: none;
  line-height: 2.6;
  margin-top: 40px;
}

.footer__list-item {
  cursor: pointer;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.footer__faceboob-icon, .footer__twitter-icon, .footer__instagram-icon {
  width: 25px;
  margin: 5px;
  cursor: pointer;
}

.footer-frontendmentor {
  margin: 10px 0;
  font-size: 11px;
  text-align: center;
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */