$dark-blue: #070439;
$Desaturated-Blue: #585989;
$Bright-Blue: #3065f8;
$Moderate-Cyan: #3c9f8f;
$Light-Grayish-Blue: #626293;
$Light-Gray: #bfbfbf;
$main-font: "Open Sans", sans-serif;
$heading: "Raleway", sans-serif;
