.footer {
  background-color: $dark-blue;
  padding: 0 30px;
  color: white;

  &__logo {
    fill: white;
    margin: 60px 0 40px;
  }

  &__phone {
    margin-bottom: 25px;
  }

  &__phone::before {
    content: url(../images/icon-phone.svg);
    margin-right: 20px;
  }

  &__email::before {
    content: url(../images/icon-email.svg);
    margin-right: 20px;
  }

  &__list {
    list-style: none;
    line-height: 2.6;
    margin-top: 40px;
  }

  &__list-item {
    cursor: pointer;
  }

  &__social-media {
    display: flex;
    justify-content: center;

    padding: 40px 0;
  }

  &__faceboob-icon,
  &__twitter-icon,
  &__instagram-icon {
    width: 25px;
    margin: 5px;
    cursor: pointer;
  }
}

.footer-frontendmentor {
  margin: 10px 0;
  font-size: 11px;
  text-align: center;
  color: #3e52a3;
}

@include screen-l {
  .footer {
    &__container-main {
      display: flex;
      flex-direction: column;

      max-width: 1040px;
      margin: 0 auto;
    }

    &__logo {
      margin: 120px 0 10px;
    }

    &__container-links {
      display: flex;
      justify-content: space-between;
      
      padding: 0 200px 60px 0;
    }

    &__phone,
    &__email {
      margin: 0;
      line-height: 2.6;
    }

    &__list {
      margin-top: 0;
    }

    &__social-media {
      display: inline;
      padding: 0;
    }
  }
}

@include screen-xl {
  .footer {
    &__container-main {
      max-width: 1280px;
    }
  }
}
