.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $heading;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 25px;
  margin-bottom: 90px;

  &__logo {
    width: 80px;
  }

  &__list-item {
    margin-left: 25px;
    color: $dark-blue;
    text-decoration: none;

    &:hover {
      color: $Light-Grayish-Blue;
    }
  }
}
