.section-info {
  margin-bottom: 100px;
  text-align: center;

  &__img {
    @include img-style;
  }

  &__title {
    font-family: $heading;
    color: $dark-blue;
    font-size: 1.5em;
    font-weight: 700;
    margin: 25px;
    line-height: 1.5;
  }

  &__p {
    color: $dark-blue;
    font-size: 0.9rem;
    margin: 0 30px;
  }

  &__form {
    @include form-style($width: 300px);
  }

  &__form-input {
    border: 1px solid $dark-blue;
    border-radius: 3px;

    padding: 10px 15px;
    margin-bottom: 15px;

    &:focus {
      outline: none;
    }
  }

  &__form-btn {
    @include btn($font-size: 0.8rem);
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
  }
}

@include screen-m {
  .section-info {
    &__title,
    &__p {
      max-width: 500px;
      margin: 30px auto;
    }

    &__form {
      flex-direction: row;
      width: 515px;
    }

    &__form-input {
      margin-right: 15px;
      margin-bottom: 0;
      width: 300px;
    }

    &__form-btn {
      width: 200px;
    }
  }
}

@include screen-l {
  .section-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    text-align: left;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1040px;

    &__img {
      width: 450px;
      margin: 0;
      margin-left: 60px;
    }

    &__title,
    &__p {
      max-width: 580px;
    }

    &__title {
      font-size: 2em;
    }

    &__p {
      font-size: 1rem;
    }

    &__form {
      margin: 30px 0;
    }
  }
}

@include screen-xl {
  .section-info {
    max-width: 1280px;

    &__img {
      width: 550px;
      margin: 0;
      margin-left: 60px;
    }

    
    &__title {
      font-size: 2.4em;
    }
  }
}
